<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8" />
    <meta name="color-scheme" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/style.css" rel="stylesheet" />
    <title>Template for use</title>
  </head>
  <body>
    <header>
      <h1><a href="">Template for this site</a></h1>
      <nav>
        <!-- update this every time you change the header... -->
        <ul>
          <li><a class="nav-a" href="">Main page</a></li>
          <li><a class="nav-a" href="">Content (coming soon?)</a></li>
          <li><a class="nav-a" href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <p>Yes, I let you access this page.</p>
    </main>
    <!-- update this every time you change the footer... -->
    <footer id="contact">
      <address>
        <a href="https://github.com/nguyenhuy0905">GitHub</a><br />
        <a href="https://codeberg.org/huydeptrai05">Codeberg</a><br />
        <a href="https://catppuccin.com/palette"
          >Colorscheme used for this website</a
        ><br />
      </address>
      <p class="copyright">
        Copyright<sup>&copy;</sup>
        2026 Huy Nguyen
      </p>
    </footer>
  </body>
</html>
