# comment
# AFAIK you can't really format this...
# just format its output file...
# #[file path] to read in the file content as a variable
# ![file path] to read in the file content, processed with currently defined
# variables (so, all variables defined before). Variables recorded there will
# not be exported back. There's no protection against infinite recursion, so
# be careful...
title=Huy Nguyen
head=#./template/header.html
test2=!./template/test_2.html

<!doctype html>
<html lang="en-GB">
%head%
%test2%
</html>
