:root {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  color-scheme: dark light;
  --red: light-dark(#d20f39, #f38ba8);
  --green: light-dark(#40a02b, #a6da95);
  --mauve: light-dark(#8839ef, #cba6f7);
  --blue: light-dark(#1e66f5, #89b4fa);
  --color: light-dark(#4c4f69, #cdd6f4);
  --bg: light-dark(#eff1f5, #1e1e2e);
  --copyright: light-dark(#6c6f85, #a6adc8);
}
html {
  font-size: 16px;
  background-color: var(--bg);
  color: var(--color);
}
header {
  font-size: 24px;
  font-style: italic;
}
h1 {
  color: var(--mauve);
  text-align: center;
}
h2 {
  color: var(--green);
}
h3 {
  color: var(--red);
}
a {
  color: var(--blue);
}

p.copyright {
  color: var(--copyright);
}
