:root {
  color-scheme: dark light;
  --red: light-dark(#d20f39, #f38ba8);
  --green: light-dark(#40a02b, #a6da95);
  --mauve: light-dark(#8839ef, #cba6f7);
  --blue: light-dark(#1e66f5, #89b4fa);
  --color: light-dark(#4c4f69, #cdd6f4);
  --bg: light-dark(#eff1f5, #1e1e2e);
  --bg-dark: light-dark(#e6e9ef, #181825);
  --copyright: light-dark(#6c6f85, #a6adc8);
}
html {
  background-color: var(--bg-dark);
  color: var(--color);
  font-size: 12px;
}
header {
  font-size: 1.5rem;
  font-style: italic;
  margin: 0em auto;
}
body {
  padding: 0em 1%;
  margin: 0;
}
footer {
  margin: 0.5em 0;
  padding: 1em;
  background-color: var(--bg);
}
main {
  background-color: var(--bg);
  padding: 1em 2em;
  border-radius: 2em 2em 0em 0em;
}
h1 {
  color: var(--mauve);
  padding-left: 1em;
}
h2 {
  color: var(--green);
}
h3 {
  color: var(--red);
}
a {
  color: var(--blue);
}
nav {
  background-color: var(--bg);
  padding: 1em auto;
  border-radius: 2em;
}
nav ul {
  list-style: none;
  letter-spacing: 0;
}
nav ul li {
  display: inline-block;
  padding: 0.5em 1em;
}
nav ul li:first-child {
  padding-left: 0em;
}
h1 a {
  color: var(--mauve);
  text-decoration: none;
}
a.nav-a {
  color: var(--mauve);
}

p.copyright {
  color: var(--copyright);
}
