<!-- prettier-ignore -->
title=Huy Nguyen's dev blogs
blog_title=Huy Nguyen's dev blogs
meta=!template/meta.html
header=#template/header.html
footer=#template/footer.html
date=2026-09-30
blog_header=!template/blog_title.html

<!doctype html>
<!-- prettier-ignore -->
%meta%
<body>
  %header%
  <main>
    <article>
      <!-- prettier-ignore -->
      %blog_header%
      <p>
        I realised I cannot go to <a href="/blog/dev/">/blog/dev/</a> before,
        because I don't have an index file there.
      </p>
      <p>I currently list my blogs at <a href="/blog/">/blog/</a>.</p>
    </article>
  </main>
  %footer%
</body>
